body{
  margin-right: auto;
  margin-left : auto;
}
li {
  margin: 10px;
}
h1 {
  text-align: center;
}

#searchbar {
  text-align: center;
}

.contents-img .contents-message{
  margin-right: 0px;
  padding-right: 0px;
}
.col-xs-* {
  margin: 0px;
  padding: 0px;
}

#tagbar{
  background: #000000;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}
#tag {
  margin-top: 5px;
  margin-bottom: 5px;
}
.navbar-default {
  padding-top: 1px;
  padding-left: 15px;
}
#title{
  margin:10px;
  font-weight: bold;
}
